/* Common Styles */
.background-image {
  background-image: url("./rs/fan5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  .client-details {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .client-list li {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .bank-accounts {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #1c3cbb;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  