html,
.background-image {
  background-image: url("../rs/fan5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
body {
  height: 110%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-image: url('path/to/your/image.jpg'); 
  background-size: cover;
  background-position: center;
}

.container {
  width: 350px;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.buttons-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.user-button-left {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #ff9800;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-button-left:hover {
  background-color: #f57c00;
}

.user-button-right {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #9c27b0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-button-right:hover {
  background-color: #7b1fa2;
}

.user-button {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.user-button:hover {
  background-color: #2980b9;
}