.background-image {
  background-image: url("../rs/fan5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('path/to/your/image.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image file */
    background-size: cover;
    background-position: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 20%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  